<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div hidden id="camera"></div>
    <form method="POST" action="/up" id="imageForm">
      <input type="hidden" name="image_data" class="image-tag" />
    </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
